.logo{
    height:100px;
    width:100px;
    /* padding-left: 20rem; */
}

.desc
{
    padding-left:15rem;
}

.price
{
    font-size: 25px;
    padding-left: 41rem;
}


.poster_image
{
    padding-left:35rem;
    
}
/* .add_button
{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 20px;
  margin: 20px 520px;
  margin-left:290px;
  cursor: pointer;
}

.remove_button
{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 20px;
  margin: 5px 100px;
  margin-right: 10px;
  cursor: pointer;
} */


.title
{
    align-items:center;
    padding-left: 35rem;
    padding-top:-10rem;
}

.product {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    background-color: #3A98B9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left:50px;
    margin-right: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button.add:hover {
    background-color: #3A98B9;
  }
  
  button.remove:hover {
    background-color: #3A98B9;
  }
  

  .product_title{
    padding-left:45rem;
  }

  /* .price{
    margin:0;display:inline;float:left
  }

  .quantity{
    margin:0;display:inline:float:right
  } */

  .products{
    align-items: center;
  }


  .productpage{
    padding-left: 25rem;
  }

  .product-page-price{

    padding-left: 19rem;

  }

  .product-page-quantity{
    
    padding-left: 19rem;

  }

  .button-inc-dec{
    padding-left:15rem;
  }

